body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  display: grid;
  grid-template-columns: 6fr 2fr 1fr 1fr;
}

.edit svg, .remove svg {
  max-height: 1.2rem;
}
